body {
<<<<<<< HEAD
    background-image: 'PixelDungeonImages/thankyou.png';
    background-size: 100vw 100vh;
=======
    background-image: url("PixelDungeonImages/UI/Ending.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: darkslategray;
>>>>>>> 9c8b9138771eb6d9898f3f3e41462b67a0a43b15
}