* {
    font-family: monospace;
    font-size: 1.05em;
    color: lightgrey;
    box-sizing: border-box;
    font-weight: normal;
}
strong {
  color: lightslategray;
}
span {
    margin-right: -11px;
}
div {
    margin-top: -5px;
}
body {
    background-image: url("PixelDungeonImages/UI/Background.png");
    size: 100%;
    background-repeat: auto;
}
.map {
    height: 200;
    width: 100%;
  }
   strong {
    display: flex;
    align-items: center;
  }
  .map {
    position: absolute;
    top: 30%;
    left: 25%;
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
    padding: 70px 0;
    text-align: center;
  }
  .information {
    width: 100px;
    float: left;
  }
  .information {
    margin: 0;
  }
  .weaponssection {
    margin: 0;
  }
  .itemssection { 
    margin: 0;
  }
.button {
  color: darkslategrey;
}

.bars {
  font-size: 1.5em;
  top: 3%;
  left: 2%;
  position: absolute;
}
.statistics {
  top: 3%;
  left: 51%;
  position: absolute;
}
.floorinfo {
  font-size: 2em;
  top: 22.5%;
  left: 35%;
  position: absolute;
}
.actions-main {
  top: 20.5%;
  left: 2%;
  position: absolute;
  font-size: 1.25em;
}
.information-main {
  top: 20.5%;
  left: 76.5%;
  position: absolute;
}
.information {
  font-size: 1.25em;
}
.map {
  top: 35%;
  left: 24.5%;
  position: absolute;
}
.weaponssection {
  top: 78%;
  left: 2%;
  position: absolute;
}
.itemssection {
  top: 78%;
  left: 51%;
  position: absolute;
}
.ads {
  top: 96.5%;
  left: 2%;
  position: absolute;
}
.adsbutton {
  top: 96.5%;
  left: 52%;
  position: absolute;
}
.itemIcon {
  top: 70%;
  left: 90%;
  position: absolute;
}
.itemIcon {
  height: 100px;
  width: 100px;
}
.music {
  top: 96%;
  left: 31.5%;
  position: absolute;
}