* {
    font-family: monospace;
    font-size: 1.05em;
    color: lightgrey;
    box-sizing: border-box;
    font-weight: normal;
}
strong {
  color: lightslategray;
}
span {
    margin-right: -11px;
}
div {
    margin-top: -5px;
}
body {
    background-image: url("PixelDungeonImages/UI/Background.png");
    size: 100%;
}
.map {
    height: 200;
    width: 100%;
}
.map {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding: 70px 0;
    text-align: center;
}
.button {
  color: darkslategrey;
}

.bars {
  position: absolute;
  top: 5%;
  left: 2%;
  text-align: left;
}
.statistics {
  top: 3%;
  left: 51%;
  position: absolute;
}
.actions-main {
  top: 25%;
  left: 2%;
  position: absolute;
}
.information-main {
  top: 25%;
  left: 77%;
  position: absolute;
}
.itemssection {
  top: 80%;
  left: 51%;
  position: absolute;
}
.weaponssection {
  top: 80%;
  left: 2%;
  position: absolute;
}
.floorinfo {
  top: 23%;
  left: 41%;
  position: absolute;
}
.map {
  top: 35%;
  left: 24%;
  position: absolute;
}
