* {
    font-family: monospace;
    font-size: 1.05em;
    color: lightgray;
    box-sizing: border-box;
    font-weight: normal;
}
strong {
  color: lightslategray;
}
html {
  background-color: darkslategray;
}
span {
    margin-right: -11px;
}
div {
    margin-top: -5px;
}
body {
    background-image: url("PixelDungeonImages/UI/Background.png");
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-size: 100% 100%;
   }
   .map {
    height: 200;
    width: 100%;
  }
   strong {
    display: flex;
    align-items: center;
  }
  .map {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding: 70px 0;
    text-align: center;
  }
.button {
  color: darkslategrey;
}
.floorinfo {
  text-align: center;
  font-weight: 200;
}
.bars {
  width: 40%;
  height: 20%;
  border: 10px solid greenyellow;
}
.statistics {
  width: 40%;
  height: 20%;
  float: left;
  border: 10px solid greenyellow;
}